@import "./src/assets/sass/variable";
@import "./src/assets/sass/mixin";

.song-list-wrapper {
  border-top: 0.0625rem solid $borderColor;
  width: 100%;

  > .fix-wrapper {
    display: flex;
    align-items: center;
    margin-left: 2%;
    padding: .3rem 0;

    > .title, > .singer, > .album, > .time {
      font-size: .8rem;
      color: $tipsHoverColor;
    }

    > .title {
      width: 50%;
      margin-left: 1rem;
    }

    > .singer {
      width: 20.5%;
    }

    > .album {
      width: 18.5%;
    }

    > .time {
      width: 5%;
      margin-left: 1.5rem;
    }
  }

  > .list-wrapper {
    .list-item {
      display: flex;
      padding: 1rem .5rem;
      cursor: pointer;

      &:hover {
        background-color: $bgColor !important;
      }

      > .title,
      > .singer,
      > .album,
      > .duration {
        @include ellipsis;
        font-size: 1rem;
      }

      > .number {
        width: 2%;
        font-size: 1rem;
        > .like {
          color: $color-theme;
        }
      }

      >.icon-laba{
        font-size: 1rem;
        margin: 0 .4rem;
        color: $color-theme;
      }

      > .title {
        width: 49%;
        display: flex;
        margin-left: 1rem;
        > i {
          line-height: 2rem;
        }
        >.icon-VIP{
          color: $color-theme;
          font-size: 2rem;
        }
        >.icon-shipin{
          font-size: 1rem;
          margin-left: .2rem;
        }
      }

      > .singer {
        width: 20%;
      }

      > .album {
        width: 18%;
      }

      > .duration {
        width: 7%;
        margin-left: 1.5rem;
      }
    }
  }
}