@import "./src/assets/sass/variable";
@import "./src/assets/sass/mixin";

.scroll {
  opacity: 0.6;
  //background-color: $color-theme;
  @include scrollTop;
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  bottom: 6.25rem;
  right: 6rem;
  border-radius: .3125rem;
  border: none;
  outline: none;
  transition: all .4s;
  &:hover {
    opacity: 1;
  }
}

.arrow-up {
  @include arrow-up;
}