@import "./src/assets/sass/variable";
@import "./src/assets/sass/mixin";

.comment-wrapper {
  padding: 1.25rem 2.5rem;
  //border-top: 0.125rem $borderColor solid;
  @include border_top;

  >.new-comment {
    font-size: 1rem;
  }
  .ant-comment-content-author-name > *{
    color: #1890ff !important;
  }
}