@import "./src/assets/sass/variable";
@import "./src/assets/sass/mixin";

.comment-wrapper {
  padding: 1.25rem 2.5rem;
  border-top: 0.125rem $borderColor solid;

  .new-comment {
    font-size: 1rem;
  }
}