@import "./src/assets/sass/variable";
@import "./src/assets/sass/mixin";

.singerlist-wrapper {
  padding: 1rem 5rem;

  > .singerlist-item {
    display: flex;
    align-items: center;
    margin: .8rem 0;
    cursor: pointer;
    > .img-wrapper {
      position: relative;
      padding-top: 5rem;
      width: 5rem;
      height: 0;

      > img {
        @include imgMixin;
      }
    }

    > .text {
      font-size: 1.4rem;
      font-weight: 700;
      margin-left: 1rem;
    }
    >.trans{
      font-size: .8rem;
      margin-left: .5rem;
      color: $color-grey;
    }
    &:nth-child(odd) {
      background-color: rgba(0,0,0,.01);
    }
    &:hover{
      background-color: rgba(0,0,0,.1) !important;
    }
  }
}