@import "./src/assets/sass/variable";
@import "./src/assets/sass/mixin";

.header-wrapper {
  height: 6vh;
  display: flex;
  //box-shadow: 0.125rem 0.4rem 0.2rem rgba(0,0,0,.2);
  transition: all .7s;
  position: relative;
  z-index: 1;
  .header-left {
    //background: $bgColor;
    //@include bg_color;
    @include header;
    transition: background-color .7s;
    flex-basis: 10%;
    padding-top: 0.625rem;
    padding-left: .4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .navigation {
      display: flex;

      .dot {
        box-sizing: border-box;
        margin-left: 0.3125rem;
        &:first-child {
          margin-left: 0;
        }

        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        text-align: center;
        cursor: pointer;

        i.last-icon {
          font-size: 0.625rem;
        }

        i {
          //visibility: hidden;
          transition: all .4s;
          opacity: 0;
        }

        &:hover {
          i {
            //visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .arrow-wrapper {
      margin-right: 0.48rem;
      margin-top: -1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow-left {
        margin-right: .4rem;
        margin-bottom: .05rem;
        transform: rotate(180deg);
        @include tips_hover_color;
      }
      .arrow-right{
        @include tips_hover_color;
      }
      .arrow-left:hover, .arrow-right:hover {
        i {
          border-radius: 50%;
          cursor: pointer;
          //background: $tipsHoverColor;
          @include tips_hover_bg_color;
          @include theme_color;
        }
      }
    }
  }

  .header-right {
    //background: hsla(0, 0%, 97.3%, .95);
    //@include bg_color;
    @include header;
    transition: background-color .7s;
    flex: 1;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

    .title-wrapper {
      margin-left: 0.8rem;
      display: flex;

      > span {
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 1.7rem;
        //color: $nameColor;
        //@include name_color;
        @include header_title;
        padding-bottom: .5rem;

        &.active {
          /*border-bottom: .125rem solid $color-theme;
          @include name_hover_color;*/
          @include header_title_bottom;
        }

        &:hover {
          @include name_hover_color;
        }
      }

    }

    .search-wrapper {
      display: flex;
      align-items: center;

      .search {
        //background-color: $bgColor;
        @include input_search_color;
        padding: 0.4rem .6rem;
        border-radius: 0.4rem;

        input {
          margin-left: 1rem;
          border: none;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }
      }

      > i.change-skin {
        margin: 0 .8rem;
        font-size: 1.5rem;
        cursor: pointer;
        width: 2.3125rem;
        height: 2.3125rem;
        text-align: center;
        transition: all .4s;
        @include header_title;
        &:hover {
          //background-color: $tipsHoverColor;
          @include tips_hover_bg_color;
          border-radius: 50%;
          @include name_hover_color;
        }
      }
    }
  }
}
