@import "./src/assets/sass/variable";
@import "./src/assets/sass/mixin";
@import "./src/assets/sass/transition";

.player-wrapper {
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 100;

  > .normal-wrapper {
    width: 100%;
    height: 92vh;
    position: absolute;
    z-index: 100;
    /* background-color: $color-theme-bg; */
    > .bg-wrapper {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      position: absolute;
      /* z-index: 1; */
    }
    > .bg-mask {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.65);
    }
    > .content-wrapper {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      position: relative;
      /* background-color: $color-theme-bg; */
      /* 使用这个方式去掉白边 */
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: inherit;
        filter: blur(1rem);
      }
      > .shrink {
        position: relative;
        z-index: 1;
        height: 3rem;
        > i {
          cursor: pointer;
          font-size: 2rem;
          color: $color-theme-bg;
          position: absolute;
          top:.5rem;
          left:2rem;
        }
        > .dots-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          > .dot {
            cursor: pointer;
            margin: 0 0.5rem;
            width: 2rem;
            height: 0.5rem;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 0.625rem;
            &.active {
              background-color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
      > .middle {
        z-index: 1;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        > .middle-left {
          display: flex;
          justify-content: center;
          position: absolute;
          width: 100%;
          transition: all 1s ease-in-out;
          transform: translateX(0);
          opacity: 1;
          &.unactive {
            opacity: 0;
            transform: translateX(-100%);
          }
          > .img-wrapper {
            margin: 10rem;
            position: relative;
            width: 30rem;
            padding-top: 30rem;
            height: 0;
            > img {
              @include imgMixin;
              border-radius: 0.9375rem;
              z-index: 1;
            }
            >.cd{
              position: absolute;
              right: -2.5rem;
              top: 1rem;
              background: url(https://y.gtimg.cn/mediastyle/yqq/img/album_cover.png?max_age=2592000&v=38b0c07…) 0 0 no-repeat;
              background-size: contain;
              width: 100%;
              height: 100%;
            }
          }
          > .text-wrapper {
            margin: 5rem 10rem;
            > .inf-wrapper {
              > .name {
                /* color: $nameColor; */
                color: $color-theme-bg;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
              }

              > .album,
              > .singer {
                color: $tipsColor;
                font-size: 1rem;
                text-align: center;
                cursor: pointer;
              }
            }
            > .lyric-wrapper {
            }
          }
        }
        > .middle-right {
          position: absolute;
          width: 100%;
          height: 100%;
          transform: translateX(0);
          opacity: 1;
          transition: all 1s ease-in-out;
          > .text-wrapper {
            text-align: center;
            > .song-name {
              font-size: 1.2rem;
              font-weight: 700;
              color: $color-theme-bg;
              cursor: pointer;
            }
            > .singer-name {
              font-size: 0.8rem;
              margin-left: 0.7rem;
              line-height: 2.2rem;
              color: $tipsColor;
              cursor: pointer;
            }
          }
          > .wrapper-content {
            background-color: transparent;
            height: calc(100% - 7rem);
            overflow-y: scroll;
            .ant-comment-content-detail {
              color: white;
            }
            .ant-comment-content-author-name {
              > a {
                color: #1890ff !important;
              }
            }
            &::-webkit-scrollbar {
              display: none;
            }
          }
          &.unactive {
            opacity: 0;
            transform: translateX(100%);
          }
        }
      }
    }
  }

  > .mini-wrapper {
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0;
    z-index: 200;
    background-color: $color-theme-bg;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;

    > .song-wrapper {
      display: flex;
      flex: 4;

      > .img-wrapper {
        position: relative;
        width: 3.5rem;
        padding-top: 3.5rem;
        height: 0;
        cursor: pointer;

        > img {
          @include imgMixin;
          border-radius: 0.325rem;
          transition: all 0.4s;
        }

        > i {
          position: absolute;
          top: 50%;
          z-index: 200;
          opacity: 0;
          left: 50%;
          color: $color-theme;
          transform: translate(-50%, -50%);
          transition: all 0.4s;
        }

        &:hover {
          > i {
            font-size: 2rem;
            opacity: 1;
          }

          > img {
            filter: blur(0.1rem);
          }
        }
      }

      > .text-wrapper {
        margin-left: 1rem;

        > .inf-wrapper {
          display: flex;
          align-content: center;

          > .song-name {
            font-size: 1.2rem;
            font-weight: 700;
            color: $nameColor;
            cursor: pointer;
          }

          > .singer-name {
            font-size: 0.8rem;
            margin-left: 0.7rem;
            line-height: 2.2rem;
            color: $tipsColor;
            cursor: pointer;
          }
        }

        > .time {
          display: flex;

          > .current,
          > .all,
          > .slash {
            color: $tipsColor;
            font-size: 1rem;
            margin: 0 0.2rem;
          }

          > .slash {
            margin: 0;
          }
        }
      }
    }

    > .control-wrapper {
      display: flex;
      align-items: center;

      > span {
        > i {
          cursor: pointer;
          margin: 0 0.5rem;
          font-size: 2rem;
          color: #c7332f;
        }

        > .icon-bofang,
        > .icon-zanting {
          font-size: 4rem;
        }
        > .icon-bofang {
          display: block;
          transform: scale(1.25);
        }
        > .loading {
          width: 4.75rem;
          height: 4.75rem;
          background-color: $color-theme;
          border-radius: 100%;
          -webkit-animation: scaleout 1s infinite ease-in-out;
          animation: scaleout 1s infinite ease-in-out;
        }
        @-webkit-keyframes scaleout {
          0% {
            -webkit-transform: scale(0);
          }
          100% {
            -webkit-transform: scale(1);
            opacity: 0;
          }
        }
        @keyframes scaleout {
          0% {
            transform: scale(0);
            -webkit-transform: scale(0);
          }
          100% {
            transform: scale(1);
            -webkit-transform: scale(1);
            opacity: 0;
          }
        }
      }
    }

    > .mode-wrapper {
      display: flex;
      flex: 4;
      justify-content: flex-end;
      align-items: center;

      > span {
        margin-right: 2rem;

        > i {
          font-size: 2rem;
          cursor: pointer;
        }
        > .icon-xihuan {
          color: #c7332f;
        }
        > .icon-xihuan1 {
          font-size: 1.5rem;
        }
      }

      > .volume-wrapper {
        display: flex;
        width: 10.5rem;
        align-items: center;

        > i {
          font-size: 1.5rem;
        }

        .progress-bar-wrapper {
          flex: 1;
        }
      }
    }

    > .progress-bar-wrapper {
      position: absolute;
      top: -1vh;
      left: 0;
      width: 100%;
    }
  }
}
