@import "../../assets/sass/variable";
@import "../../assets/sass/mixin";
@import "../../assets/sass/transition";

.album-list-wrapper{
  display: flex;
  flex-wrap: wrap;

  .album-item{
    flex: 1;
    margin-top: 2rem;
    >.img-wrapper{
      width: 15rem;
      padding-top: 15rem;
      height: 0;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      >img{
        @include imgMixin;
        transition: all .4s linear;
      }
      >i{
        font-size: 0;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all .2s;
        color: $color-theme;
      }
      &:hover{
        >i{
          font-size: 3.5rem;
          opacity: 1;
        }
        >img{
          transform: scale(1.2);

        }
      }
    }
    >.album-name{
      margin-top: .4rem;
      width: 15rem;
      font-size: 1.1rem;
      font-weight: 700;
      @include ellipsis;
    }
    >.time{
      margin-top: .2rem;
      font-size: .6rem;
      //color: $color-grey;
      @include text_color;
    }
  }
}
.album-wrapper >.showMore{
  margin-top: 3rem;
  text-align: center;
  cursor: pointer;
  background-color: $color-theme;
  color: white;
  font-weight: 700;
  border-radius: 0.625rem;
  padding: .2rem 0;
}