.rightIn-enter, .rightIn-appear {
  transform: translateX(100%);
}

.rightIn-enter-active, .rightIn-appear-active {
  transform: translateX(0);
  transition: transform .4s;
}

.rightIn-enter-done {
  transform: translateX(0);
}


.rightIn-exit {
  transform: translateX(0);
}

.rightIn-exit-active {
  transform: translateX(100%);
  transition: transform .4s;
}

.rightIn-exit-done {
  transform: translateX(100%);
}

.upIn-enter{
  transform: translateY(-100%);
}
.upIn-enter-active{
  transform: translateY(0);
  transition: transform .7s;
}

.upIn-enter-done {
  transform: translateY(0);
}

.listUp-enter,.listUp-appear{
  top: 0;
}

.listUp-enter-active,.listUp-appear-active{
  top: -92vh;
  transition: all .4s;
}

.listUp-enter-done{
  top: -92vh;
}

.listUp-exit{
  top: -92vh;
}

.listUp-exit-active{
  top: 0;
  transition: all .4s;
}

.listUp-exit-done{
  top: 0;
}

