//颜色规范
$color-theme: #c7332f;

$color-dot-red: #ff5652;

$color-grey: #7d7d7d;

$color-theme-bg: white;

$color-black: #000;

$color-blue: #769acb;

$nameColor: #5d5d5d;

$titleColor: #4d4d4d;

$nameHoverColor: #1e1e1e;

$tipsColor: #bababa;

$tipsHoverColor: #7c7c7c;

$borderColor: #f5f5f5;

$bgColor: #f2f2f3;

$lyricColor:#b1b1b1;

$lyricColorActive:white;
